@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

:root {
	--color-accent: #FF5533;
	--color-text: #262A2F;
	--color-gray: #868686;
	--grid-column-width: 101px;
	--grid-gap: 29px;
}

* {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


body {
	font-family: "Rubik", sans-serif;
	font-size: 1.375rem;
	font-weight: 400;
	color: var(--color-text);
	background-color: #fff;
}

main {
	flex: 1 0 auto;
}

ul, ol {
	list-style: none;
}

a {
	cursor: pointer;
	color: inherit;
}

img {
	width: 100%;
}

[class*="__container"] {
	max-width: 90rem;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, var(--grid-column-width));
	column-gap: var(--grid-gap);
}

.header {
	padding: 2.375rem 0;
}

.header__container {}

.header__logo {
	padding-right: 2.125rem;
	grid-column: span 4;
}

.logo {}

.header__menu {
	display: flex;
	grid-column: 5 / -1;
}

.menu {}

.menu__icon {}

.icon-menu {}

.menu__body {}

.menu__list {
	display: flex;
	align-items: flex-start;
	gap: 0.625rem 3.75rem;
}

.menu__item {}

.menu__link {
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 28px;
	text-transform: uppercase;
	color: var(--color-text);
	transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
	.menu__link:hover {
		color: var(--color-accent);
	}
}

.menu__link_active {
	color: var(--color-accent);
}

.page-main {
	padding-top: 6.25rem;
	padding-bottom: 8.4375rem;
}

.page-main__container {}

.page-main__left {
	grid-column: span 9;

}

.page-main__news {
	margin-bottom: 3.125rem;
}

.news {
	display: grid;
	grid-template-columns: repeat(9, var(--grid-column-width));
	column-gap: var(--grid-gap);
}

.news__img-container {
	position: relative;
	grid-column: span 3;
	min-height: 185px;
	max-height: 345px;
	overflow: hidden;
}

.news__img-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.news__content {
	grid-column: 4 / -1;
	padding-right: 4.0625rem;
}

.news__category {
	margin-bottom: 0.4375rem;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 17px;
	color: var(--color-accent);
}

.news__title {
	margin-bottom: 1.875rem;
	font-weight: 700;
	font-size: 2.625rem;
	line-height: 50px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* 3 line */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news__text {
	margin-bottom: 35px;
	line-height: 26px;
}

.news__source {}

.source {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 24px;
	color: var(--color-gray);
	text-transform: uppercase;
}

.page-main__right {
	grid-column: 10 / -1;
}

.news-small {
	margin-bottom: 2.1875rem;
	padding-left: 0.625rem;
	border-left: 9px solid var(--color-text);
}

.news-small__title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* 3 line */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 24px;
}

.news-small__info {
	display: flex;
	align-items: center;
	column-gap: 0.9375rem;
}

.news-small__data {}

.data {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 24px;
	color: var(--color-accent);
}

.data+.source {
	display: inline-flex;
	align-items: center;
	column-gap: 15px;
}

.data+.source::before {
	content: "";
	width: 5px;
	height: 5px;
	background-color: var(--color-gray);
	border-radius: 50%;
}

.footer {
	padding: 1.5625rem 0;
	background-color: var(--color-text);
}

.footer__container {
	align-items: center;
}

.footer__logo {
	padding-right: 3.75rem;
	grid-column: span 2;
}

.footer__menu {
	display: flex;
}

.menu__link_white {
	color: #fff;
}